@model ALProjet2017AL.Views.ViewModels.ReservationHeure.IndexViewModelPlanning

<div class="col-md-4 col-xs-4 col-sm-4 col-lg-4" id="formulaire">
    <div class="panel panel-primary">
        <div class="panel-body zoneBeige">

            <div class="row">
                <div class="col-md-4 col-xs-4 col-sm-4 col-lg-4">
                    @Html.Label("Promotion", new { @class = "input-sm" })
                </div>
                <div class="col-md-6 col-xs-6 col-sm-6 col-lg-6">
                    @Html.TextBoxFor(model => model.PROMOTION, new { id = "promotionId", @class = "input-sm" })

                </div>
                <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                    <button class="btn btn-default input-sm" type="button" data-toggle='modal' data-target='#Promotion' id="promotionId" data-callback="onclosePopupPromotion">
                        <i class="glyphicon glyphicon-search"></i>
                    </button>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-xs-4 col-sm-4 col-lg-4">
                    @Html.Label("Matière", new { @class = "input-sm" })
                </div>
                <div class="col-md-6 col-xs-6 col-sm-6 col-lg-6">
                    @Html.TextBoxFor(model => model.MATIERE, new { id = "matierId", @class = "input-sm" })
                    @*@Html.ValidationMessageFor(model => model)*@

                </div>
                <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                    <button class="btn btn-default input-sm" type="button" data-toggle='modal' data-target='#Promotion' id="promotionId" data-callback="onclosePopupPromotion">
                        <i class="glyphicon glyphicon-search"></i>
                    </button>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-xs-4 col-sm-4 col-lg-4">
                    @Html.Label("Salle", new { @class = "input-sm" })
                </div>
                <div class="col-md-6 col-xs-6 col-sm-6 col-lg-6">
                    @Html.TextBoxFor(model => model.SALLE, new { id = "salleId", @class = "input-sm" })
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-xs-4 col-sm-4 col-lg-4">
                    @Html.Label("Professeur", new { @class = "input-sm" })
                </div>

                <div class="col-md-6 col-xs-6 col-sm-6 col-lg-6">
                    @Html.TextBoxFor(model => model.PROFFESSEUR, new { id = "professeurId", @class = "input-sm" })
                    @*@Html.ValidationMessageFor(model => model.CDE_NUMREMEDY)*@
                </div>
            </div>
        </div>
    </div>
</div>


<div class="col-md-8 col-xs-8 col-sm-8 col-lg-8" id="formulaire2">
    <div class="panel panel-primary">
        <div class="panel-body zoneBeige">
            horaires
            <hr />
            <div class="row form-group-sm">
                <div class="col-md-2 col-xs-2 col-sm-2 col-lg-2">
                    @Html.Label("Debut", new { @class = "input-sm" })
                </div>
                <div class="col-md-3 col-xs-3 col-sm-3 col-lg-3">
                    @Html.TextBoxFor(model => model.HEURE_DEBUT, new { id = "heuredebutId", @class = "form-control input-small", @Type="time" })  @*dPicker*@


                </div>
                <div class="col-md-1 col-xs-1 col-sm-1 col-lg-1">
                </div>
                <div class="col-md-2 col-xs-2 col-sm-2 col-lg-2">
                    @Html.Label("Fin", new { @class = "input-sm" })
                </div>
                <div class="col-md-3 col-xs-3 col-sm-3 col-lg-3">

                    @Html.TextBoxFor(model => model.HEURE_FIN, new { id = "heurefinId", @class = "form-control input-small", @Type = "time" }) @*dPicker*@
                </div>
                <br /><br />
            </div>
        </div>
    </div>
    <button type="button" class="btn btn-success" id="enregistrerId">Enregistrer</button>
</div>

