@model ALProjet2017AL.Views.ViewModels.ReservationHeure.IndexViewModelPlanning
@{
    ViewBag.Title = "Planning";
}
<h2>@ViewBag.Title</h2>

<div id="gouche">
    <div id="calendar"></div>
</div>

<div id="droit">
        @Html.Partial("_Formulaire")
</div>

@*<div id="droit">*@
    @Html.Partial("_ConsultationPlanning", Model)
@*</div>*@
@*<div class="col-md-2">*@
    <button class="btn btn-default" type="button" data-toggle="modal" data-target="#consultaion" id="consultaionBtn"></button>
@*</div>*@

    <script type="text/javascript">
        var saveUrl = '@Html.Raw(Url.Action("enregistrer", "Planning"))';
        var getPlanning = '@Html.Raw(Url.Action("getPlanning", "Planning")+ "?selectedDate=")';
    </script>