@model ALProjet2017AL.Views.ViewModels.ReservationHeure.ReservationListeModel
@{
    ViewBag.Title = "Planning";
}
<h2>@ViewBag.Title</h2>

<div id="gouche">
    <div id="calendar"></div>
</div>

<div id="droit">
        @Html.Partial("_Formulaire")
</div>

@Html.Partial("_ConsultationPlanning", Model)
@Html.Partial("_Popups", Model)

    <button class="btn btn-default" type="button" data-toggle="modal" data-target="#consultaion" id="consultaionBtn"></button>

    <script type="text/javascript">
        var saveUrl = '@Html.Raw(Url.Action("enregistrer", "Planning"))';
        var getPlanning = '@Html.Raw(Url.Action("getPlanning", "Planning")+ "?selectedDate=")';
    </script>